:root {
  --button-color: #ffffff;
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #025ce2;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: var(--button-bg-color);
  color: var(--button-color);
  
  margin: 0;
  padding: 0.4rem 0.6rem;
  
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 4px;
  
  display: inline-block;
  width: auto;
  
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s;
}

button.success {
  --button-bg-color: #28a745;
  --button-hover-bg-color: #218838;
}

button.error {
  --button-bg-color: #dc3545;
  --button-hover-bg-color: #c82333;
}

button.warning {
  --button-color: #212529;
  --button-bg-color: #ffc107;
  --button-hover-bg-color: #e0a800;
}

button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

body {
  background: #eee;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
  overflow:auto;
}

.guild_success {
	background-color:#98c2ff
}

.guild_fail {
	background-color:#ffb2b9
}
.config_title {
	font-size: 0.8rem;
	font-weight: bold;
	margin-bottom: 5px;
	text-align: center;
}

.config_row {
	margin-bottom: 5px;
}

.config_hide {
	display: none;
}

#bossStatus {
  background-color:#fecb00;
  color:white;
  text-align:center;
}
.bossParticipant {
  width: 33%;
  display:inline-block;
  box-sizing:border-box;
  border: 2px solid silver;
  overflow: hidden;
  white-space: nowrap;
}